apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: colleger-studentdb-pvc
spec:
  storageClassName: standard
  resources:
    requests:
      storage: 1Gi
  accessModes:
    - ReadWriteOnce
