name: CI Pipeline
on: workflow_dispatch
jobs:
  deploying_frontend:
   runs-on: ubuntu-latest
   needs: deploying_backend_accounts_microservice
   steps:
     - name: checkout frontend code
       uses: actions/checkout@v5
     - name: Set up Node 22
       uses: actions/setup-node@v6
       with:
         node-version: 22
     - name: Building React Frontend
       working-directory: ./frontend
       run: |
        npm ci
        npm run build    
     - name: Build frontend Docker image
       run: docker build -t thevikashpratapsingh/colleger_frontend:${{ github.sha }} ./frontend
     - name: Login to the Docker Hub
       run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
     - name: Push the frontend image
       run: docker push thevikashpratapsingh/colleger_frontend:${{ github.sha }}  

  deploying_backend_accounts_microservice:
   runs-on: ubuntu-latest
   steps:
     - name: checkout code
       uses: actions/checkout@v5
     - name: Set up Java 21
       uses: actions/setup-java@v5
       with:
        distribution: 'temurin' 
        java-version: '21'
     - name: Building Accounts Microservice Jar
       working-directory: ./backend/accounts-service
       run: mvn clean package -DskipTests
     - name: Build Accounts Microservice Docker image
       run: docker build -t thevikashpratapsingh/colleger_accounts_service:${{ github.sha }} ./backend/accounts-service
     - name: Login to the Docker Hub
       run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
     - name: Push the Accounts Microservice
       run: docker push thevikashpratapsingh/colleger_accounts_service:${{ github.sha }}  
     